

#searchbox{
	
	width:96%;
	margin-left: -4px;
	margin-bottom:-3px;
	background-color:#F3F3F3;
	height: 25px;
	font-size:17px;
	padding:5px 10px;
	border-width:2px;
	border-style:none;
	border-radius:7px;
	display:inline-block;
	
}

.searchsvg{
	
	//color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:4px;
	right:20px;
	//padding-right:auto;
	//left:50%;
	//font-weight:bold;
	position:absolute;
	cursor: pointer;
	float:right;
}
#preview_types{
	
	overflow: auto;
	width: 100%;
	height:48px;
	white-space:nowrap;
	margin-bottom:8px;
	margin-top:10px;
	padding-top:6px;
	//padding-right:-300px;
	background-color: #F7F7F7;
	color:black;
	
	transition: height 0.25s;
	-moz-transition: height 0.25s;	/* Firefox 4 */
	-webkit-transition: height 0.25s;	/* Safari 和 Chrome */
	-o-transition: height 0.25s;	/* Opera */


}

.preview_type:hover{
	
	background-color:#E1E1E1;
	
}

.br{
	font-size:14px;
}

#preview_types::-webkit-scrollbar {

	display: none;

}
#detail::-webkit-scrollbar {

	border-width:7px;

}
.url::-webkit-scrollbar {

    display: none;
}
.linklist::-webkit-scrollbar {

    display: none;
}
::-webkit-scrollbar {
    width: 20px;
    height: 8px;
	
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 6px solid rgba(0, 0, 0, 0);
    box-shadow: 8px 0 0 #A5ADB7 inset;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 8px 0 0 #4A4A4A inset;
}

#firstt{
	
	margin-top:15px;
	
}

.preview_type{
	
	background-color: transparent;
	padding: 10px 10px 10px 10px;
	margin-top:0px;
	margin-bottom:2px;
	cursor: pointer;
	border-radius:6px;
	display:inline-block;

}

.listtype{
	
	position:absolute;
	right:5px;
	margin-top:-6px;
	z-index:30;
	width:70px;
	height:54px;
	
	
}
#listtype1{
	display:none;
}
#listtype2{
	display:inline;
}


.preview_box{
	
	//display:inline;
	height:80px;
	border-bottom:solid #E4E4E4 1px;
	padding-top:13px;
	cursor: pointer;
	
	
}

.preview_box:hover{
	
	background-color:#E1E1E1;
	
}


.preview_img{
	
	display:inline;
	height:60px;
	width:60px;
	margin-left:15px;
	border-radius:50%;
}

.preview_box p{
	
	display:inline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:70%;
}

.preview_title{
	
	font-size:24px;
	font-weight:bold;
	margin-top:7px;
	margin-left:10px;
	position:absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview_little{
	
	font-size:16px;
	margin-top:40px;
	margin-left:10px;
	position:absolute;
	color:grey;
}

.preview_go{
	
	margin-top:-67px;
	left:89%;
	position:absolute;
	width:20px;
	

}

#showmore{
	color:black;
	margin:30px;
	padding:5px 10px;
	text-align:center;
	background-color:#E8E8E8;
	//position:relative;
}

.legal-statement{
	
	color:grey;
	
	
}

#detail{
	
	position:absolute;
	background-color:#FFFFFF;
	
	transition: left 0.25s;
	-moz-transition: left 0.25s;	/* Firefox 4 */
	-webkit-transition: left 0.25s;	/* Safari 和 Chrome */
	-o-transition: left 0.25s;	/* Opera */

	
	
	
}

#dheader_main{
	background-color:#F7F7F7;
	height:50px;
	position:fixed;
	width:100%;
	z-index:1000;
}
#dheader_title{
	
	//color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	//left:0;
	//right:0;
	//margin-left:-25%;
	font-weight:bold;
	//position:fixed;
	text-align:center; 


}

#dheader_back{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	margin-left:30px;
	//padding-right:auto;
	//left:50%;
	//font-weight:bold;
	position:fixed;
	cursor: pointer;
}

#dheader_backsvg{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:13px;
	margin-left:12px;
	//padding-right:auto;
	//left:50%;
	//font-weight:bold;
	position:fixed;
	cursor: pointer;
}
#dheader_sharesvg{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	right:20px;
	//padding-right:auto;
	//left:50%;
	//font-weight:bold;
	position:fixed;
	cursor: pointer;
}
.height2{
	
	height:52px;
}
#detail_img{
	
	margin-bottom:12px;
	
}

.introduce{
	
	margin: 0 16px 10px 16px;
	//font-size:16px;
	position:relative;
	top:2px;

	
}
.tags{
	
	position:relative;
	margin-right:10px;
	top:40px;
	height:100px;

	
}
.tag{
	
	margin-top:6px;
	margin-bottom:0px;
	margin-left:11px;
	margin-right:-5px;
	border-radius:2px;
	background-color:#E1E1E1;
	font-size:14px;
	padding:2px 5px;
	display:inline-block;
	color:black;
}


.tags{
	
	display:inline-block;
	
}
.right{
	text-align:right;
	margin-right:20px;
}

.dh2{
	
	font-size:21px;
	font-weight:bold;
	position:relative;
	top:13px;
	height:42px;
}

.singlelink{
	position:relative;
	top:0px;
	height:32px;
	bottom:0px;
}

.linklist {
	
	display:inline;
	margin-right:0px;
	font-size:16px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	float:left;
	width:11%;
	height:22px;
}
.url{
	
	border-radius:2px;
	background-color:#E1E1E1;
	font-size:16px;
	padding:2px 5px 2px 5px;
	display:inline;
	color:black;
	overflow: auto;
	width: 62%;
	white-space:nowrap;
	left:1px;
	margin:2px;
	margin-right:10px;
	//font-family:;
	//font-weight:bold;
	
	float:right;
}
.play{
	
	border-radius:2px;
	border-width:0px;
	background-color:#E1E1E1;
	font-size:14px;
	//padding:4px 5px;
	display:inline;
	color:black;	
	width: 24px;
	height: 24px;
	margin-right:13px;
	margin-top:2px;
	padding:0;
	float:right;
	cursor: pointer;
	//display:none;
}
.playicon{
	
	margin:4px 0 0 1px;
	
}

.player {
	position: fixed;
	
	top:60%;
	width: 300px;
	z-index:9999;
	display:none;
	padding:0;
	margin:0;
	/* box-shadow: 0px 0px 5px black; */
	border-radius:6px;
	transition: width 0.25s;
	-moz-transition: width 0.25s;	/* Firefox 4 */
	-webkit-transition: width 0.25s;	/* Safari 和 Chrome */
	-o-transition: width 0.25s;	/* Opera */


}
.bar {
	padding-left:5px; 
	padding-bottom:-5px;
	margin:0;
	height: 30px;
	line-height: 30px;
    color: black;
    background-color: #E1E1E1;
    cursor: move;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	//display:none;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0px 0px 5px black;


}

.closeplayer{
	float:right;
	padding:6px;
	cursor: pointer;
}

.playin{
	padding:0;
	margin:0;
	height:168px;
	box-shadow: 0px 0px 5px black;
	
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;	
	
	transition: width 0.25s;
	-moz-transition: width 0.25s;	/* Firefox 4 */
	-webkit-transition: width 0.25s;	/* Safari 和 Chrome */
	-o-transition: width 0.25s;	/* Opera */

	transition: height 0.25s;
	-moz-transition: height 0.25s;	/* Firefox 4 */
	-webkit-transition: height 0.25s;	/* Safari 和 Chrome */
	-o-transition: height 0.25s;	/* Opera */

}

iframe{
	
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.nomore{
	
	color: grey;
	text-align:center;
	font-size:12px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:1000px;
	display:block;
	position:relative;
	top:0px;
	height:0px;
}

.white{
	position:relative;
	top:0px;
	height:200px;
}

#backToTop {
    z-index:4;
    width:60px;
    height:60px;
    position:fixed;
    right:27px;
    bottom:30px;
    background:url(up.png)  no-repeat  left top ;
}
#backToTop:hover {
    background:url(upi.png)  no-repeat  left top;
}
#gitalk-container{
	margin:40px 20px;
}

.weui-half-screen-dialog_bd{

	width:100%;
	height:100px;
	overflow: auto;

	
}

#js_dialog_1{
	bottom:-300px;
	transition: bottom 0.5s;
	-moz-transition: bottom 0.5s;	/* Firefox 4 */
	-webkit-transition: bottom 0.5s;	/* Safari 和 Chrome */
	-o-transition: bottom 0.5s;	/* Opera */

}
.weui-mask{
	display:none;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;	/* Firefox 4 */
	-webkit-transition: opacity 0.5s;	/* Safari 和 Chrome */
	-o-transition: opacity 0.5s;	/* Opera */

}
.share{
	
	text-align:center;
	display:inline-block;
	width:90px;
	margin:3px 4px;
	cursor: pointer;
	border-radius:6px;
	
	
}

.share:hover{
	
	background-color:#E1E1E1;
	
}

.shareimg{
	
	width:50px;
	margin:0 20px;
	display:block;
	border-radius:6px;
	
	
}
.sharep{
	
	text-align:center;
	
}

@media (prefers-color-scheme: dark) {
	
	#preview{
		
		
	}

	#searchbox{
		
		background-color:#3B3B3B;
		color:white;
		
	}

	#preview_types{
		
		background-color:#3B3B3B;
		color:white;
	}
	.preview_type:hover{
		
		background-color:#515151;
		
	}


	.preview_type{
		
		//background-color: #3B3B3B;
		

	}

		
	.preview_box{
		
		border-bottom:solid grey 1px;
				
	}
	.preview_box:hover{
		
		background-color:#515151;
		
	}


	.share:hover{
		
		background-color:#515151;
		
	}



	#showmore{
		color:white;
		background-color:#3B3B3B;
			}


	#detail {
		background-color: #262626;
	}
	
		
	#dheader_main{
		background-color:#3B3B3B;
		
	}
	#listtype1{
		display:inline;
	}
	#listtype2{
		display:none;
	}
